<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@*@Styles.Render("~/Content/css")*@
</head>
<body>
	<header>
		@Html.ActionLink(Resources.Resource.MainPage, "Index", "Home")
		@if (HttpContext.Current.User.IsInRole(Role.DeliveryMan.ToString()))
		{
			@Html.ActionLink(Resources.Resource.ManagePayments, "ManagePayments", "Home")
		}
		@Html.Action("_LoginPartial", "Account")
		
			@using (Html.BeginForm("ChangeCulture", "Home"))
			{
				<select name="lang" onchange='this.form.submit()'>
					<option disabled selected>@Resources.Resource.ChooseLang</option>
					<option value="be">Беларуская</option>
					<option value="en">English</option>
					@*<option value="ru">Русский</option>*@
				</select>
				<noscript>
					<input type="submit" name="submit" value="@Resources.Resource.ChooseLang" />
				</noscript>
			}
	</header>
	@RenderBody()
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - @Resources.Resource.DevelopedBy Aliaksei Yankou <a href="mailto:yankouav@gmail.com">yankouav@gmail.com</a></p>
	</footer>
</body>
</html>